.counter-countainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter-countainer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter-countainer__buttons > button {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: dark;
  width: 50px;
}
