.counter-countainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter-countainer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
