header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  background-color: #bbbbbb;
}

header > a {
  text-decoration: none;
  color: black;
}

header > a:not(:last-child) {
  margin-right: 1rem;
}

.active {
  color: red;
}
